<!-- styles -->
      <link rel="stylesheet" type="text/css" href="style.css">

      header {
    text-align: center;
            }

#todo-lists {
    margin: 0 auto;
    width: 80%;
}
body {
    margin: 0;
}



/*********** LISTS ************/
#todo-lists {
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
}

.list {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

.list-title {
    margin-left: 20px;
}

header a {
    color: gold;
    text-decoration: none;
}

.list a {
    color: teal;
    text-decoration: none;
}

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
Now we can use the fonts in our style.css file. Update the body and header selectors:
body {
    margin: 0;
    color: teal;
    font-family: 'Roboto', sans-serif;
}

/*********** HEADER ************/

header {
    text-align: center;
    padding: 10px;
    background-color: teal;
    color: white;
    font-family: 'Roboto Slab', serif;
    background-image: url("buns_banner.png");
    background-repeat: no-repeat;
}

body {
    background-image: url("buns_banner.png");
    background-repeat: no-repeat;
}


/*********** GALLERY ************/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*** FLEXBOX ***/

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 10%;
}

/* Middle column */
.column.middle {
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

