<!-- styles -->
      <link rel="stylesheet" type="text/css" href="style.css">

/*********** HEADER ************/
      header {
    text-align: center;
            }

body {
    margin: 0;
    background-color: #e8efee;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #ff7a7a;
    color: white;
    font-family: 'Open Sans', serif;
    background-repeat: no-repeat;
}

background-image {
width: 100%;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 400px;
    height: 250px;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

/*********** LISTS ************/
#todo-lists {
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
}

.list {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

header a {
    color: white;
    text-decoration: none;
}

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}



/*********** GALLERY ************/

div.gallery {
    margin: 10px;
    float: left;
    width: 30%;
    font-family: 'Open Sans', sans-serif;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*** FLEXBOX ***/

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

